:root {
  --main-color: #212121;
  --contacts-header-color: #757575;
  --contacts-footer-color: #fff;
  --web-color: #2196f3;
}
body {
  font-family: 'Roboto', Raleway, sans-serif;
  color: var(--main-color);
  border: none;
  margin: 0;
  width: 1600px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: none;
}

a:hover {
  color: var(--web-color);
}
* {
  box-sizing: border-box;
}
.header {
  display: flex;
  flex-direction: row;
}

.web-studio-link-header {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-family: Raleway;
  padding: 25px 90px 25px 215px;

  display: block;
  left: 215px;
  top: 24px;
}
.web-studio-link-color-web {
  color: var(--web-color);
}

.web-studio-link-color-studio {
  color: #000;
}

.navigation-menu {
  display: flex;
  margin: 0;
  padding: 0;
  left: 453px;
  top: 32px;
  position: absolute;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
}

.navigation-links {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  padding-right: 50px;
}

.contacts-header-mail {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-header-color);
  list-style: none;
  text-decoration: none;
  padding-right: 50px;
  position: absolute;
  left: 1078px;
  top: 32px;
}
.contacts-header-tel {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-header-color);
  list-style: none;
  text-decoration: none;
  position: absolute;
  left: 1200px;
  top: 32px;
}

/*.footer {
  display: flex;
  flex-direction: column;
}*/
.web-studio-link-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-family: Raleway;
  padding: 25px 90px 25px 215px;

  display: block;
  left: 215px;
  top: 2157px;
}

/*.footer-address {
  position: absolute;
  left: 215px;
  top: 2208px;
  margin: 0;
  padding: 0;
}*/

.contacts-footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-header-color);
  /*color: var(--contacts-footer-color);*/
  list-style: none;
  text-decoration: none;
}
.contacts-footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-header-color);
  /*color: var(--contacts-footer-color);*/
  list-style: none;
  text-decoration: none;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  /*color: var(--contacts-footer-color);*/
}
/*STUDIO MAIN*/
/*.section-order {
  left: 0px;
  top: 80px;
  /*height: 600px;
  background: #2f303a;
}*/
.order-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  /* color: var(--contacts-footer-color);*/
}

.order-btn {
  cursor: pointer;
  width: 200px;
  background: var(--web-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--contacts-footer-color);
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
  text-transform: uppercase;
}

.peculiarities-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-header-color);
}
.our-team-title,
.kind-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-color);
}
.kind-work-img,
.team-img,
.peculiarities-list {
  list-style: none;
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  color: var(--main-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.8;
  color: var(--contacts-header-color);
}

/*PORTFOLIO MAIN*/
.projects-btn {
  font-family: Roboto;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-color);
  list-style: none;
}
.projects-btn-list,
.projects-img {
  list-style: none;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
}

.projects-description {
  font-size: 18px;
  line-height: 1.9;
  color: var(--contacts-header-color);
}
