html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-color: #212121;
  --contacts-header-color: #757575;
  --contacts-footer-color: #fff;
  --web-color: #2196f3;
  --background-color: #2f303a;
}
body {
  font-family: 'Roboto', Raleway, sans-serif;
  color: var(--main-color);
  border: none;
  margin: 0;
}
h1,
h2,
h3,
p,
ul,
button,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

a:hover {
  color: var(--web-color);
}
button:hover {
  background: var(--web-color);
  color: var(--contacts-footer-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  /* background-color: lawngreen;*/
}
.section {
  padding: 94px 0;
}

.centered {
  text-align: center;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.web-studio-link {
  margin-right: 94px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway;
}
.web-studio-link-color-web {
  color: var(--web-color);
}

.web-studio-link-color-studio {
  color: #000;
}

.navigation-links {
  display: flex;
}
.navigation-links .navigation-links-item {
  margin-right: 50px;
}
.navigation-links .navigation-links-item:last-child {
  margin-right: 0;
}

.navigation-links-title {
  display: block;
  padding: 20px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
}

.contacts-header-mail {
  margin-left: auto;
  margin-right: 50px;
  padding: 20px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-header-color);
}
.contacts-header-tel {
  padding: 20px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-header-color);
}

.page-footer {
  background: var(--background-color);
}
.web-studio-link-footer {
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway;
  margin-top: 60px;
  margin-bottom: 20px;
  /*padding-left: 215px;*/
}
.web-studio-link-color-studio-footer {
  color: var(--contacts-footer-color);
}

.page-address {
  display: flex;
  flex-direction: column;
}

.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-footer-color);
  opacity: 0.6;
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--contacts-footer-color);
  margin-bottom: 20px;
}
/*STUDIO MAIN*/

.order {
  /*height: 600px;*/
  background: var(--background-color);

  /*text-align: center;*/
}

.order-padding {
  padding: 200px 0;
}
.order-title {
  /*display: inline-block;*/
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  /*margin-top: 200px;*/
  margin-bottom: 30px;
  color: var(--contacts-footer-color);
}

.order-btn {
  cursor: pointer;
  /*margin-bottom: 200px;*/
  background: var(--web-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--contacts-footer-color);
  padding: 10px 32px;
}

.peculiarities-list {
  display: flex;
  justify-content: center;
}
.peculiarities-list .peculiarities-item {
  margin-right: 30px;
}

.peculiarities-list .peculiarities-item:last-child {
  margin-right: 0;
}
.peculiarities-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
  text-transform: uppercase;
}

.peculiarities-text {
  text-align: left;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-header-color);
}

.kind-work-list {
  display: flex;
  justify-content: center;
}
.kind-work-list .kind-work-item {
  margin-right: 30px;
}

.kind-work-list .kind-work-item:last-child {
  margin-right: 0;
}
.kind-work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-color);
}

.our-team {
  background: #f5f4fa;
}
.our-team-list {
  display: flex;
  justify-content: center;
}

.our-team-list .our-team-item {
  margin-right: 30px;
}
.our-team-list .our-team-item:last-child {
  margin-right: 0;
}
.our-team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-color);
}

.our-team-item {
  background-color: var(--contacts-footer-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  color: var(--main-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.8;
  color: var(--contacts-header-color);
}

/*PORTFOLIO MAIN*/

.projects-btn-list {
  display: flex;
  justify-content: center;
}
.projects-btn-list .project-item {
  margin-right: 8px;
  margin-bottom: 50px;
}
.projects-btn-list .project-item:last-child {
  margin-right: 0;
}

.projects-btn {
  padding: 6px 22px;

  font-family: Roboto;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-color);
}

.projects-img-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-img-list .projects-img-item {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.projects-img-item:nth-child(3n) {
  margin-right: 0;
}
.projects-img-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-title {
  margin: 20px 0 4px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
}

.projects-description {
  margin: 0 0 20px 24px;
  font-size: 18px;
  line-height: 1.9;
  color: var(--contacts-header-color);
}
